* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-layer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  padding: 50px;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
}

.nav-menu {
  flex-grow: 0;
  margin-bottom: 20px;
}

.logo {
  width: 105px;
}

.top-section {
  background-color: #5763a5;
  display: flex;
  /* width: 800px; */
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  padding: 25px 0;
  margin-bottom: 30px;
}

.left-card {
  background-color: #454f84;
  padding: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.title {
  color: #ffffff;
  font-size: 20px;
  margin-top: 0;
  font-weight: 500;
}

.input-box {
  display: flex;
  background-color: #ffffff;
  /* flex-grow: 1; */
  height: 45px;
  border-radius: 3px;
  margin-bottom: 16px;
}

.form-pic {
  width: 45px;
  padding: 13px;
  border-right: 1px solid #b6c3ca;
}

.form-input {
  flex-grow: 1;
  outline: none;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  font-weight: bold;
}

.section-pic {
  width: 350px;
}

.btn {
  align-self: flex-end;
  background-color: #0b69ff;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.bottom-section {
  background-color: #5763a5;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* display: flex;
  width: 800px;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0; */
}

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  border-bottom: 2px solid #7683cb;
}

.text-box {
  display: flex;
  align-items: center;
}

.count {
  align-self: flex-start;
  color: #ffffff;
  margin-top: 0;
  margin-left: 10px;
  border: 1px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px;
  border-radius: 20px;
}

.search-box {
  display: flex;
  background-color: #ffffff;
  border-radius: 3px;
  height: 30px;
}

.search-pic {
  width: 24px;
  height: 25px;
  align-self: center;
  padding: 5px;
  border-right: 1px solid #b6c3ca;
}

.toggle-bar {
  align-self: flex-end;
  margin-top: 16px;
  color: #f8fafc;
}

.manager-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pass-item {
  display: flex;
  width: 178px;
  align-items: center;
  border: 1px solid #7683cb;
  margin: 16px;
  border-radius: 8px;
  padding: 5px 10px;
}

.initial {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  color: #ffffff;
}

.user-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-info {
  color: #ffffff;
  font-size: 12px;
  margin: 5px 0;
}

.del-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.del-logo {
  width: 20px;
}

.a {
  background-color: #0b69ff;
}

.b {
  background-color: #f59e0b;
}

.c {
  background-color: #f97316;
}

.d {
  background-color: #10b981;
}

.e {
  background-color: #b91c1c;
}

.f {
  background-color: #0ea5e9;
}

.message-section {
  text-align: center;
}

.stars-pic {
  width: 77px;
}
